
<div class="@($"alert alert-{Style.ToString().ToLower()}")">
    @ChildContent
</div>

@code {
    public enum AlertStyle
    {
        Primary,
        Secondary,
        Success,
        Danger,
        Warning,
        Info,
        Light,
        Dark
    }   
    
    [Parameter]
    public AlertStyle Style { get; set; }
 
    [Parameter]
    public RenderFragment ChildContent { get; set; } 
}