@typeparam ItemType
@using System.Collections.Generic


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <Virtualize Items="@Items" Context="item">
        <tr>
            <td>
                <button class="btn btn-primary" @onclick="() => SelectEvent.InvokeAsync(item)">Select</button>
            </td>
            <td>
                @ItemTemplate(item)
            </td>
            <td>
                <button class="btn btn-danger" @onclick="() => DeleteEvent.InvokeAsync(item)">Delete</button>
            </td>
        </tr>
    </Virtualize>
    </tbody>
</table>


@code {

    [Parameter]
    public List<ItemType> Items { get; set; } = new List<ItemType>();
    
    [Parameter]
    public RenderFragment<ItemType> ItemTemplate { get; set; } 
    
    [Parameter]
    public EventCallback<ItemType> DeleteEvent { get; set; }

    [Parameter]
    public EventCallback<ItemType> SelectEvent { get; set; }
}