@page "/"

@using MyBlog.Data.Interfaces
@using MyBlog.Data.Models
@using MyBlog.Data.Seeder
@inject IMyBlogApi api

@code{

    protected List<BlogPost> posts = new List<BlogPost>();
    protected async Task AddSomePosts()
    {
        for (var i = 0; i < 10; i++)
        {
            await api.SaveBlogPostAsync(BlogPostFactory.Create());
        }
    }

    protected override async Task OnInitializedAsync()
    {
        posts = await api.GetBlogPostsAsync(10, 0);
        await base.OnInitializedAsync();
    }

}

<PageTitle>Index</PageTitle>


<div>
    <button class="btn btn-danger" @onclick="AddSomePosts">Add some fake posts</button>
</div>
<br />

<div>
    @foreach (var p in posts)
    {
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">@p.Title</h5>
                <p class="card-text">@p.Text</p>
            </div>
        </div>
        <br />
        <hr />
        <br />
    }
    
</div>

